#container  {
}

#profile-pic  {
  border: 2px solid red;
}

#profile-pic img  {
  border: 2px solid black;
  border-radius: 50%;
  height: 50%;
}

#user{
  width: 50%;
  display: flex;
}



#unit-time nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

main{
  display: flex;
  flex: 1;
  flex-direction: column;
}

.stats  {
  display: flex;
  border: 1px solid red;
  flex-direction: column;
}

.stats-background {
  background-color: orange;
  flex: 30%;
}

.stats-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: blue;
  flex: 70%;
}

.stat-heading h2  {
  font-size: small;
}

.stat-time  {
  font-size: x-large;
}

.stat-previous  {
  font-size: small;
}
